/* bodyタグ全体 */
/* ////////////////////////////////////////////////// */
/* <body>に対してあらかじめmarginというCSSプロパティが設定されています。
marginというのは要素と要素の間の余白を調整するためのCSSプロパティです。 */
body{
  margin: 0;
}

/* メインコンテンツの設定 */
/* ////////////////////////////////////////////////// */

.logo{
  font-size: 20;
}

/* お問い合わせボタン */
/* /////////////////////////////////////////////////// */
.hover-transition{
  text-align: center;
}
.hover-transition a{
  background: skyblue;
  color: #fff;
  width:150px;
  height:50px;
  display:inline-block;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
  font-size: 15px;
  transition: 700ms;
}
.hover-transition a:hover{
  background: orange ;
}


/* display:flexは要素を横並びにしたり、伸長・収縮させることができるCSSプロパティです。 */
.headerInner{
  height: 100px;
  display: flex;
  /*justify-contentとalign-itmesは、displayをflexにした場合の細かい設定です。  */
  justify-content: space-between;
  align-items: center;
}




/* 各コンテンツの設定 */
/* ////////////////////////////////////////////////// */
/* キービジュアルを横中央に配置します。テキストや画像を横中央に配置したいときはtext-alignを使います。 */
.keyVisual{
    text-align: center;
}

/* <div class="headerInner">に
横幅と高さを指定して、位置を中央寄せにします。 */
/* marginをautoに設定すると、要素を左右中央に配置することができます。 */
.mainInner{
  max-width: 650px;
  margin: auto;
}

.aboutWrapper img{
  float:left;
  margin-right: 10px;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

/* 画像を丸くする */
.border-radius{
  /* ここからborder-radiusプロパティを追加 */
  border-radius: 100px;
}

h2{
  background-image: url(Black.png);
  line-height: 50px;
  padding: 0 15px;
  color: #fff;
  text-align: center;
}



/* 各コンテンツの設定 */
/* ////////////////////////////////////////////////// */
/* キービジュアルを横中央に配置します。テキストや画像を横中央に配置したいときはtext-align

/* 料金表 */
.priceWrapper table,
.priceWrapper th,
.priceWrapper td{
    border-collapse: collapse;
    border: 1px solid black;
}

.priceWrapper th,
.priceWrapper td{
    padding: 7px;
}

.priceWrapper table{
    width: 100%;
}

.priceWrapper th{
    width: 150px;
    background: #eee;
}


/* footerの設定 */
/* ////////////////////////////////////////////////// */

footer{
  background: #eee;
}

.footerInner{
  text-align: center;
  margin-top: 50px;
  padding: 30px;
}

/* メモ */
/* marginは要素と要素に間をあける役割
paddingは要素の中身に余白をあける役割 */


/* ///////////////////////////////
///ここからお問い合わせのスタイルシート
/////////////////////////////// */
h1 {
    text-align: center;
}

.contactForm{
  width: 100%;
  max-width: 650px;
  margin: 0 auto 20px;
  border-spacing: 0;
}

/* 余白の調整やテーブル見出しの色を変更 */
.contactForm th,
.contactForm td{
  padding: 2rem 0;
  border-bottom: 1px solid #e1e1e1;
}

.contactForm th{
  text-align: left;
  color: #606c76;
}

/* 入力フォームのサイズを少し大きくして、装飾をします。1行テキストと複数行テキストの入力欄をまとめて指定しましょう。 */
input[type="text"],textarea{
  background-color: transparent;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  box-shadow: none;
  box-sizing: border-box;
  min-height: 1rem;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}

/* placeholderの文字色は変えることができます。 */

input[type="text"]::placeholder{
  color: #aaa;
}

/* フォーカスしたときにスタイルを変える */

input[type="text"]:focus,
textarea:focus{
  border-color: #41487e;
  outline: 0;
}

/* フォーカスした際にアニメーションする */
input[type="text"]::placeholder{
  transition: 300ms;
}

input[type="text"]:focus::placeholder{
  transform: translateX(30px);
  opacity: 0;
}

/* ラジオボタンを装飾する */
/* ラジオボタンを一度非表示 */
input[type="radio"]{
  display: none;
}

/* labelの左右に余白をつけます。 */
input[type="radio"] + label{
  padding-left: 20px;
  margin-right: 20px;
  position: relative;
}

/* 疑似要素のbefore要素を使って、◯を描画します。 */
input[type="radio"] + label:before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 50%;
}

/* これだけでは選択済みの◯が表示されないので、今度はafter要素を使って描画します。 */
input[type="radio"]:checked + label:after{
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 9px;
  height: 9px;
  background: #41487e;
  border-radius: 50%;
}

/* チェックボックスを装飾する */
input[type="checkbox"]{
  display: none;
}

input[type="checkbox"] + label{
  padding-left: 25px;
  position: relative;
}

input[type="checkbox"] + label:before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
}

input[type="checkbox"]:checked + label:after{
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 5px;
  width: 7px;
  height: 15px;
  transform: rotate(45deg);
  border-bottom: 3px solid #41487e;
  border-right: 3px solid #41487e;
}

/* レイアウトの調整 */
/* 少しだけ余白もつけます。 */
.text-center{
  text-align: center;
  padding: 10px;
}

/*セレクトボックスの装飾をする  */
.selectBox{
  color: #41487e;
  border: solid 2px #41487e;
  border-radius: 5px;
  display: inline-block;
  position: relative;
}

.selectBox:after{
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-25%);
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-top: 5px solid #41487e;
  z-index: -1;
}

select{
  padding: 2px 5px;
  border-radius: 0;
  outline: none;
  border: 0;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 16px;
}

/* 送信ボタンの装飾をする */
input[type="submit"]{
  border-style:none;
  border-radius: 5px;
  padding: 10px 30px;
  background: #41487e;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 300ms;
}

input[type="submit"]:hover{
  background: #1f275e;
}
